<div class="row">
    <div class="container">
        <div class="pro-header">
            <div class="full dft">
                <div class="pro-title _u-flex1 ">Online Product Items</div>
                <div class="_u-flex0">
                    <sap-grid-and-row-view-option (viewCallback)="productChildrenEvents($event)"></sap-grid-and-row-view-option>
                </div>
                <div class="_u-flex0 pro-filter">
                    <sap-select-options [options]="filterOptions" (selectCallback)="productChildrenEvents($event)"></sap-select-options>
                </div>
            </div>
        </div>
        <div class="product-rendered clear">
            <ng-container *ngIf="isApiCallInProgress">
                <div class="pro-item ui-sm-12" *ngFor="let p of [1,2,3,4]" [ngClass]="{'ui-lg-3 ui-md-3 ': uiLayout==appEnum.GRID_VIEW, 'ui-lg-6 ui-md-6 ': uiLayout==appEnum.LIST_VIEW}">
                    <sap-product-rendered></sap-product-rendered>
                </div>
            </ng-container>
            <ng-container *ngFor="let product of products">
                <div class="pro-item ui-sm-12" [ngClass]="{'ui-lg-3 ui-md-3 ': uiLayout==appEnum.GRID_VIEW, 'ui-lg-6 ui-md-6 ': uiLayout==appEnum.LIST_VIEW}">
                    <sap-product-rendered [product]="product"></sap-product-rendered>
                </div>
            </ng-container>

        </div>
    </div>
</div>