<header [ngClass]="cls">
    <section>
        <div class="container">
            <div class="master-body dft">
                <div class="_u-flex1">
                    <div class="search-logo-marge dft">
                        <div class="_u-flex2">
                            <sap-logo></sap-logo>
                        </div>
                        <div class="_u-flex1">
                            <input type="search" placeholder="Search our products">
                        </div>
                    </div>
                </div>
                <div class="_u-flex2 auth-btns">
                    <button class="btn-n">Sign in</button>
                </div>
            </div>
        </div>
    </section>
</header>