.ui-lg-6 {
  // border: 1px solid black;
  min-height: 150px;
}
.full {
  border: 1px solid #cfcfcf;
}
._u-flex0,
._u-flex1 {
  width: 50%;
  min-height: 100px;
}
.dft-2-row {
  border-top: none;
}
.timer-count-logs,
.timer-counter-view {
  border-right: 1px solid #cfcfcf;
}
