<div class="row">
    <div class="container">
        <!--Page heading--->
        <div class="title-heading">
            <h1>Count down timer with {{(routeType == counterRouteType.DEFAULT ? 'Input/Output' : 'Subject')}}</h1>
        </div>
        <div class="ui-column-wap">
            <div class="ui-column clear">
                <!--counter time div--->
                <div class="ui-lg-6 ui-lg-6 ui-sm-12">
                    <sap-timer-counter-rendered [count]="countDownTiming"></sap-timer-counter-rendered>
                </div>
                <!--counter action div--->
                <div class="ui-lg-6 ui-lg-6 ui-sm-12">
                    <sap-timer-counter-actions [routeType]="routeType" (timerActionCallback)="counterChildrenEvents($event)"></sap-timer-counter-actions>
                </div>
            </div>
    
            <div class="ui-column clear">
                <!--counter logs div--->
                <div class="ui-lg-6 ui-lg-6 ui-sm-12">
                    <sap-timer-counter-logs [logs]="timerLogs"></sap-timer-counter-logs>
                </div>
                <!--counter tracker div--->
                <div class="ui-lg-6 ui-lg-6 ui-sm-12">
                    <sap-timer-counter-tracker [logs]="timerTracker"></sap-timer-counter-tracker>
                </div>
            </div>
        </div>
    </div>
</div>