:root {
  --white: #fff;
  --black: #333;
  --app: #fe414d;
  --green: #1a8917;
  --red: #e72c30;
  --rgb00: rgba(17, 17, 17, 0.64);
  --rgb08: rgba(0, 0, 0, 0.84);
  --browserColor:#f9f9f9;
  --headerHeight:55px;
  --sideBarHeight:255px;
}
