.title-heading{
  padding: 0 15px;
}
.inner-create-box{
  position: absolute;
  left: 15px;
  right: 15px;
  top: 0;
  bottom: 0;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}