@import "../../../../styles/shimmer.scss";

.cover-view-product {
  padding: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #efefef;
  transition: 0.2s ease-in-out;
  .pro-picture {
    position: relative;
    padding: 50%;
    transition: 0.2s ease-in-out;
  }
  .pro-full-details {
    margin-top: 10px;
    font-size: 14px;
  }
  .pro-full-details div:not(:last-child) {
    margin-bottom: 5px;
  }
  .pro-category-name {
    color: #878787;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .pro-name {
    font-size: 14px;
  }
  .pro-price-tags {
    .prod-price {
      font-size: 16px;
      font-weight: 500;
      color: #212121;
    }
    .pro-rate {
      line-height: normal;
      color: #fff;
      padding: 2px 4px 2px 6px;
      border-radius: 3px;
      font-weight: 500;
      font-size: 12px;
      vertical-align: middle;
      background-color: #388e3c;
    }
  }
  .pro-dis {
    color: #378e3c;
  }
}
.cover-view-product:hover {
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.11);
  .pro-picture {
    transform: scale(1.05);
  }
}

.product-shimmer {
  .pro-picture,
  .pro-price-tags,
  .pro-name {
    min-height: 20px;
    @extend .shimmer;
  }
  .pro-name {
    max-width: 70%;
  }
  .pro-picture *,
  .pro-price-tags *,
  .pro-dis {
    display: none;
  }
}
